body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.note {
  box-shadow: 0 0 1px #424242;
  padding: 10px;
  margin: 10px 0;
}

.note-checked {
  background-color: #e1fbe1;
  /* border: 1px solid green; */
}

.my-glyphicon {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.my-glyphicon:hover {
  cursor: pointer;
}

.glyphicon-pencil::before,
.glyphicon-trash::before {
  padding-right: 10px;
}

/* 
.sidenav {
  height: 100%;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 40%;
  }

  .register-form{
      margin-top: 20%;
  }
}


.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #000 !important;
  color: #fff;
} */

.my-form {
  margin-top: 50px;
}

@media screen and (max-width:550px) {
  .my-form {
    margin-top: 200px;
  }
}
